.burger-constructor {
  width: 600px;
  flex-direction: column;
  display: flex;
}

.constructor-wrapper {
  flex: 0 0 48%;
  height: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.item-inner {
  display: inline-flex;
  align-items: center;
  height: 80px;
}

.price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total {
  display: flex;
  flex-flow: row;
  align-items: center;
}