.burger-constructor {
  width: 600px;
  flex-direction: column;
  display: flex;
  margin-top: 20px;
  max-height: 80vh;
}

.constructor-wrapper {
  flex: 0 0 48%;

}

.item {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0;
  margin-bottom: 20px;
}

.item-inner {
  display: inline-flex;
  align-items: center;
  height: 80px;
}

.price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total {
  display: flex;
  flex-flow: row;
  align-items: center;
}