.App {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.body {
  display: grid;
  margin-top: 150px;
  align-items: center;
  grid-template-columns: 600px 600px;
  justify-content: center;
  gap: 40px;
  overflow: hidden;

}
