.header {
  min-height: 88px;
  max-width: 1920px;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.header-inner {
  margin: auto;
  height: 100%;
  display: flex;
}

.menu-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.menu-item {
  color: #8585ad;
  cursor: pointer;
  list-style-type: none;
}
a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
