.ingredients-container {
    overflow: hidden;
}

.tabs {
    display: flex;
    z-index: 2;
}

.ingredients {
    height: calc(100vh - 244px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    gap: 24px;
}

p {
    word-break: break-word;
    white-space: normal;
}